
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4>Nombre Hotel</h4>
    <p>Ubicacion - Provincia - Telefono</p>
    <p>Checkin - Checkout</p>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#Ubicacion" aria-controls="Ubicacion" role="tab" data-toggle="tab">Ubicacion</a></li>
        <li role="presentation"><a href="#Habitaciones" aria-controls="Habitaciones" role="tab" data-toggle="tab">Habitaciones</a></li>
        <li role="presentation"><a href="#Servicios" aria-controls="Servicios" role="tab" data-toggle="tab">Servicios</a></li>
        <li role="presentation"><a href="#Fotos" aria-controls="Fotos" role="tab" data-toggle="tab">Fotos</a></li>
        <li role="presentation"><a href="#InfoUtil" aria-controls="InfoUtil" role="tab" data-toggle="tab">Info Util</a></li>
        <li role="presentation"><a href="#Promos" aria-controls="Promos" role="tab" data-toggle="tab">Promos</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="Ubicacion">
            <div class="row">
                <div class="col-xs-6">
                    <div id="googleMap" style="width: 100%; height: 200px; margin: 15px 0px 15px 0px;">

                    </div>
                </div>
                <div class="col-xs-6" style="margin: 15px 0px 15px 0px;">
                    Descripcion de la Ubicacion
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Habitaciones">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="Servicios">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="Fotos">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="Promos">

        </div>
    </div>
</div>
