@{
    ViewBag.Title = "ArgentinaHTl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CheckArgentina.Commons
<div class="container">
    <div class="col-md-12">
        <div class="panel" style="margin-top: 20px;">
            <div class="panel-heading">
                <h2>Empresa</h2>
            </div>
            <div class="panel-body">
                <p>
                    Argentinahtl es un proveedor de alojamiento en Argentina, que opera desde hace 25 años en la forma tradicional bajo la licencia de Ineltur S.R.L. y ahora presenta esta nueva opción on line.
                    El principal objetivo de Argentinahtl es cumplir con las expectativas creadas a los importantes operadores de turismo y organizadores de viajes,  que confían en su experiencia,  para ofrecer los más eficientes servicios con una esmerada calidad en los mismos.
                    Nuestra tarea ha sido diseñada para lograr que quienes trabajan con nosotros,  tengan una notoria ventaja competitiva en el exigente mundo actual, en el cual necesitamos destacarnos, mostrando aquellas cosas que nos diferencian de la competencia.
                    A través de Argentinahtl tendrán acceso a más de 1000 hoteles dentro de la Republica Argentina, con las mejores tarifas del mercado en alrededor de 160 destinos distintos.
                    El principal producto de Argentinahtl es el alojamiento que incluye desde los más exclusivos hoteles de Argentina, hasta los pequeños hoteles de los bellos y recónditos lugares que ofrece nuestro País. El cual tiene todos los climas, con sus fascinantes paisajes y la calidez de su gente, tanto en las ciudades como en todos los rincones de su extensa geografía.
                    Es importante destacar que somos operadores locales, lo que nos posibilita ofrecer la más amplia información y asistencia, ya que somos conocedores de cada uno de los alojamientos y servicios que ofrecemos. También es un factor a tener en cuenta, el  contar con una guardia 24 horas los 365 días del año, lo que posibilita asistir en casos de necesidad a quien lo solicite.
                    Somos una empresa de vanguardia, siempre nos hemos destacado por innovar y descubrir las tendencias hacia las cuales se inclina el mercado, estudiando las posibilidades que presenta la oferta y demanda de productos y servicios que resultan más atractivos para nuestros clientes y harán que los mismos también se anticipen a sus competidores.
                    Nos relacionamos con aquellos proveedores de infraestructura en internet, que nos permiten contar con la más moderna tecnología lo cual nos posibilita satisfacer todas las necesidades de nuestros clientes.
                    En todos los casos el responsable de la operatoria y pago es Ineltur S.R.L. y se basa en los convenios otorgados por cada establecimiento con sus propias tarifas. <br /><br />

                    <b>Socio Gerente:</b><br />   María Antonia Tonelli de Faccas     mfaccas@argentinahtl.com / mfaccas@ineltur.com<br /><br />
                        

                    <b>Socio Gerente:</b><br />   Alejandra López de De Paolis        alopez@ineltur.com <br /><br />

                    <b>Marketing:</b><br />       María Alejandra Faccas              afaccas@ineltur.com <br /><br />

                    <b>Operaciones:</b><br />     María José Jara                     mjjara@argentinahtl.com / mjjara@ineltur.com <br /><br />
                        
                    <b>Reservas:</b><br />        Lorena Fabiana  Pelegrina           reservas@argentinahtl.com <br /><br />

                    <b>Tarifas:</b><br />         Laura  Noelia Velasco               lvelasco@ineltur.com <br />

                                            Lucia Victoria Guevara              vguevara@ineltur.com <br /><br /> 

                    <b>Área de Desarrollo y Tecnología:</b><br /> Aníbal Manzur       amanzur@argentinahtl.com <br />
                        
                                                            Juan Willink        jwillink@argentinahtl.com <br /><br />

                    <b>Asistencia y Soporte:</b><br />            soporte@argentinahtl.com<br /><br />

                    <b>Teléfono de Guardia:</b><br />             +54 261  5134156<br /><br />

                    <b>Ineltur S.R.L.</b><br />
                    CUIT No  30-64254425-6<br />
                    Legajo No 6248<br />
                    Granaderos 998 Ciudad – Mendoza - Argentina C.P.5500<br />
                    Teléfono +54 261 4297256 / 57 / 58<br />
                    0810 333 2705<br />
                    www.ineltur.com<br />
                    www.argentinahtl.com<br /><br />

                    <b>Banco Supervielle</b><br />
                    Cuenta Corriente : Ineltur S.R.L.<br />
                    Cuenta No 66-579743-1<br />
                    CBU 0270066310005797430017<br /><br />

                    <b>Banco HSBC</b><br />
                    Cuenta Corriente: Ineltur S.R.L.<br />
                    Cuenta >No 0510-06230-7<br />
                    CBU 1500001500005100623078<br />

                </p>
            </div>
        </div>
    </div>
</div>



