@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    @Html.Partial("_HeadScripts")
</head>
<body>
    <h2>
        Se ha producido un error, inténtelo nuevamente más tarde.
    </h2>
</body>
</html>