@{
    ViewBag.Title = "ArgentinaHTl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CheckArgentina.Commons
    <div class="container">
        <div class="col-md-12">
            <div class="panel" style="margin-top: 20px;">
                <div class="panel-heading">
                    <h2>Preguntas Frequentes</h2>
                </div>
                <div class="panel-body">
                    <p>
                        <br /><br />
                        <i><b>¿Qué hacer en caso de olvidar la clave?</b></i><br />
                        Ingrese a www.argentinahtl.com  y haga un click en "Olvidé mi clave", en cuyo caso le enviaremos un mail, a la dirección registrada por usted.
                        <br /><br />
                        <i><b>¿Puedo cambiar los datos que completé en el registro?</b></i><br />
                        Sí, puede enviar un mail a soporte@argentinahtl.com con las modificaciones que desee hacer a sus datos personales
                        <br /><br />
                        <i><b>¿Puedo cambiar la clave?</b></i><br />
                        Sí, puede solicitar en cualquier momento a  soporte@argentinahtl.com el cambio de su clave, e inclusive solicitar varias claves para distintos consultores
                        <br /><br />
                        <i><b>¿Cómo busco el destino que necesito?</b></i><br />
                        Usted puede simplemente, tipeando en el buscador el nombre de la provincia de Argentina a la cual debe dirigirse, y obtendrá el despliegue de todos los destinos que tienen hoteles disponibles en la misma.
                        <br /><br />
                        <i><b>¿Con cuánto tiempo de anticipación debo realizar mi reserva?</b></i><br />
                        Usted puede realizar su reserva hasta 72 horas previas check in. En el caso de necesitar hacer una reserva antes de dicho plazo, debe solicitarla haciendo click en el hotel seleccionado en “Reserva a requerir”
                        <br /><br />
                        <i><b>¿Cómo pago mi reserva?</b></i><br />
                        Al registrarse nuestro departamento de cobranza le indicara si usted debe prepagar su reserva o le ha sido otorgada una cuenta corriente.
                        <br /><br />
                        <i><b>¿Debo reconfirmar los alojamientos?</b></i><br />
                        No, los alojamientos quedan confirmados automáticamente una vez que usted recibió en su mail el detalle correspondiente a la reserva efectuada.
                        <br /><br />

                        <i><b>¿Cómo puedo saber si mi reserva está confirmada?</b></i><br />
                        Si usted recibió el mail confirmando la reserva con el código de la misma, quiere decir que su reserva está confirmada, caso contrario ingrese a www.argentinahtl.com, ingrese su nombre de usuario y su clave y conéctese. Una vez conectado haga un click en: "Consultar mis reservas", donde podrá verificar si su reserva está confirmada. Si aún su reserva no aparece envíe un mail a soporte@argentinahtl.com
                        <br /><br />
                        <i><b>¿Qué pasa si yo efectué mi reserva pero no recibí el mail de confirmación?</b></i><br />
                        Si Ud. no recibe su mail de confirmación en forma inmediata una vez efectuada su reserva, por favor envíe un mail a soporte@argentinahtl.com Una vez conectado haga click en: "Consultar mis reservas", donde podrá verificar si su reserva ahora está confirmada. Si aún su reserva no aparece por favor comuníquese al 0-810 333 2705
                        <br /><br />
                        <i><b>¿Se puede cancelar la reserva?</b></i><br />
                        Usted podrá efectuar cancelaciones enviado un mail a reservas@argentinahtl.com  La política de cancelaciones estará regida por cada hotel en particular, la cual se informa en el momento en que usted confirma la reserva. Si se ha producido un costo por cancelación le será informado oportunamente. En el caso de haber realizado una reserva de TARIFA NO REEMBOLSABLE, no se aceptara ningún tipo de cancelación, modificación o devolución y se hace pasible del pago total de la reserva.
                        <br /><br />
                        <i><b>Si cometí un error en la fecha de reserva o en el alojamiento deseado, ¿puedo cambiarlo?</b></i><br />
                        Lo que usted debe hacer es cancelar la reserva si se encuentra dentro de los plazos de políticas de cancelación dispuestos por el alojamiento, y efectuar una nueva reserva.
                        <br /><br />
                        <i><b>¿Qué hago si recibí el mail de confirmación y existe un error en mi reserva?</b></i><br />
                        Usted debe contactarse con nosotros a reservas@argentinahtl.com o al 0810 333 2705 y un operador lo asistirá
                        <br /><br />
                        <i><b>¿Qué hago si tengo una sugerencia, comentario o queja?</b></i><br />
                        Puede enviar un mail directamente al mjjara@argentinahtl.com
                    </p>
                </div>
            </div>
        </div>
    </div>




