@model CheckArgentina.Models.LoginModel

@using CheckArgentina.Commons;

<!DOCTYPE html>
<html>
<head>
    <title>Olvide Mi Contraseña</title>
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/custom.css")" />
    <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
</head>
<body>
    <form action="/Login/Registration" method="post">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Username).AddClasses("form-control").AddAttribute("Placeholder", Model.Username)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Enviar solicitud de alta</button>
            <button type="button" class="btn btn-primary">Cancelar</button>
        </div>
    </form>
</body>
</html>

