@{
    ViewBag.Title = "ArgentinaHTl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CheckArgentina.Commons
    <div class="container">
        <div class="col-md-12">
            <div class="panel" style="margin-top: 20px;">
                <div class="panel-heading">
                    <h4>Complete con sus datos para solicitar registrarse</h4>
                </div>
                <div class="panel-body">
                    <form action="/Login/Registration" method="post" class="form-horizontal" data-toggle="validator" role="form">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Nombre de la Empresa</label>
                                        <input type="text" name="BuisnessName" class="form-control" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Razon Social</label>
                                        <input type="text" name="RazonSocial" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Dia de comienzo de actividad</label>
                                        <input type="text" name="ActivityStartDate" class="form-control" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Tipo de Factura</label>
                                        <input type="text" name="BillType" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>CUIT</label>
                                        <input type="text" name="Ciut" class="form-control" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Direccion</label>
                                        <input type="text" name="Adress" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Codigo Postal</label>
                                        <input type="text" name="ZipCode" class="form-control" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Telefono</label>
                                        <input type="text" name="Phone" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Mail de confirmacion de reserva</label>
                                        <input type="email" name="ReservationConfirmationEmail" class="form-control" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Persona a cargo</label>
                                        <input type="text" name="PersonInChargeName" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Email de persona a cargo</label>
                                        <input type="text" name="PersonInChargeEmail" class="form-control" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Desea recibir nuestro newsletter?</label>
                                        <input type="text" name="Newsletter" class="form-control" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Como llego a nosotros?</label>
                                        <input type="text" name="HowDidYouFindUs" class="form-control" required />
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success">Enviar solicitud de alta</button>
                                        <button type="button" class="btn btn-primary">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>    


