@{
    ViewBag.Title = "ArgentinaHTl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CheckArgentina.Commons
    
    <div class="container">
        <div class="col-md-12">
            <div class="panel" style="margin-top: 20px;">
                <div class="panel-heading">
                    <h2>Servicios</h2>
                </div>
                <div class="panel-body">
                    <p>
                        <h4><b>Reservas en Hoteles</b></h4>

                        Nuestra plataforma cuenta con casi 1000 hoteles en Argentina, desde Jujuy a Tierra del Fuego, los cuales se pueden reservar con distintas modalidades.

                        Los hoteles que ofrecemos tienen la posibilidad de elegir su propio perfil: <br /><br />

                        <b>Master:</b> Son aquellos establecimientos que trabajan con Free Sale y se operan  a sí mismos, pueden cargar sus tarifas, bloqueos y promociones. En estos hoteles se pueden hacer reservas y las mismas son confirmadas en forma inmediata de acuerdo a la disponibilidad que registre el sistema.
                        <br /><br />
                        <b>Medium:</b> Son aquellos establecimientos que trabajan con Free Sale,  pero son operados por nuestra empresa,  de acuerdo a las instrucciones recibidas para bloqueos, promociones y tarifas negociadas. En estos hoteles también se pueden hacer reservas y las mismas son confirmadas en forma inmediata de acuerdo a la disponibilidad que registre el sistema.
                        <br /><br />
                        <b>Simples:</b> Son los establecimientos que no operan con Free Sale y solo pueden venderse con la modalidad “on request”. En estos hoteles se deberá solicitar la reserva mediante el propio sistema y nuestros operadores responderán a la mayor brevedad.
                        <br /><br />
                        En Argentinahtl podrá encontrar detallado dentro de cada una de las provincias de Argentina, los destinos en los cuales se encuentran los hoteles con que cuenta la plataforma. Por ejemplo:
                        Recoleta, Buenos Aires
                        Ciudad de Córdoba, Córdoba
                        Purmamarca, Jujuy






                        <h4><b>Traslados</b></h4>

                        En todos y cada uno de los destinos que se encuentran detallados en Argentinahtl,  se podrá solicitar traslados privados o regulares mediante mail dirigido a  reservas@argentinahtl.com


                        <h4><b>Excursiones</b></h4>

                        En todos los destinos hay disponible un catálogo de excursiones, regulares o privadas.
                        Se  puede solicitar el detalle de las excursiones tradicionales que se destacan en cada lugar o pedir especialmente alguna que se prepare en forma individual.
                        En todos los casos nuestros operadores asesoran sobre el tipo de excursión que se adapte más a lo que requiera cada caso. Es importante nuevamente destacar que al ser locales podemos informar detalladamente y aconsejar que es lo más conveniente.
                    </p>
                </div>
            </div>
        </div>
    </div>




