<div class="panel panel-default" id="panel-ads">
    <div class="panel-body">
        <div class="row banners-wrapper">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_holder">
                            <div class="add-banner-3"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner_holder">
                            <div class="add-banner-1"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="banner_holder">
                            <div class="add-banner-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner_holder_bottom">
                            <div class="add-banner-4"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="banner_holder_bottom">
                            <div class="add-banner-5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>