<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ineltur.Datos.Properties.Settings.Turismo_ProduccionNEWConnectionString"
            connectionString="Data Source=192.168.2.136,1433;Initial Catalog=Turismo-ProduccionNEW;Persist Security Info=True;User ID=sa;Password=ntlvad"
            providerName="System.Data.SqlClient" />
        <add name="Ineltur.Datos.Properties.Settings.Turismo_ProduccionNEWConnectionString1"
            connectionString="Data Source=192.168.2.136,1433;Initial Catalog=Turismo-ProduccionNEW;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Ineltur.Datos.Properties.Settings.Turismo_ProduccionNEWConnectionString2"
            connectionString="Data Source=192.168.2.136;Initial Catalog=Turismo-ProduccionNEW;Integrated Security=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Ineltur.Datos.Properties.Settings.Turismo_ProduccionV3ConnectionString"
            connectionString="Data Source=192.168.2.136;Initial Catalog=Turismo-ProduccionV3;Integrated Security=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Ineltur.Datos.Properties.Settings.Turismo_ProduccionV3ConnectionString1"
            connectionString="Data Source=test.argentinahtl.com,1433;Initial Catalog=Turismo-ProduccionV3;Persist Security Info=True;User ID=itiers"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>