@model CheckArgentina.Models.ReservationModel

@using CheckArgentina.Commons;

@{
    Layout = null;
}

<div class="container">
    <h4>Confirme para realizar el pago de $@Model.PromotionPrice mediante Cuenta Corriente.</h4>
</div>


