@model CheckArgentina.Models.NPSPaymentModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ProcessResultPaymentNPS</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
