<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
@Html.Partial("_HeadScripts")
</head>

<body>
    <div class="page">
        <div id="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>