@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="loginform">
        <div id="title">
            <h2>Argentinahtl</h2>
        </div>

        <div>
            <span class="legend">@ViewBag.Title</span>

            <div class="editor-label">
                <h2>
                    Se produjo un error, intente nuevamente más tarde.<br />
                    Disculpe las molestias.
                </h2>
            </div>
        </div>
    </div>