<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      throwExceptions="true">

    <variable name ="prefix" value="Ineltur_WS_"/>
    <!--<variable name ="logdirectory" value="E:/InelturWS/Logs"/>-->
    <variable name ="logdirectory" value="D:/Ineltur/InelturWSLog"/>
    <variable name ="applicationid" value="B9F23E1F-C3C3-4E52-B972-557D77FE0147"/>

    <targets async="true">
        <target name="logfile" xsi:type="File" createDirs="true" fileName="${logdirectory}/${prefix}${date:format=yyyy-MM-dd_HH}H.log"
                layout="${longdate} | ${level:uppercase=True} | ${threadid} | ${event-context:item=SessionIdentifier} | ${message}" />
        
        <!--<target xsi:type="Mail" name="logmail"
                from="noreply@itiers.com"
                to="rlucero@itiers.com;amanzur@itiers.com"
                smtpAuthentication="Basic"
                smtpUserName="no-reply@itiers.com"
                smtpPassword="itiers123"
                smtpServer="smtp.googlemail.com"
                smtpPort="25"
                subject="Error on Ineltur Web Service"
                layout="${longdate} | ${level:uppercase=True} | ${threadid} | ${machinename} ${newline}${newline} ${message} ${newline}${newline} ${stacktrace}"/>-->

        <!--<target xsi:type="Database"
            name="logdatabase"
            dbUserName="sa"
            dbProvider="sqlserver"
            useTransactions="False"
            connectionStringName="TurismoConnectionString"
            connectionString="Data Source=.;SERVER=localhost;DATABASE=APPLICATION_LOG;UID=sa;PWD=ntlvad"
            keepConnection="True"
            dbDatabase="APPLICATION_LOG"
            dbPassword="ntlvad"
            dbHost="localhost"
            commandText="addLogEntry @IDTYPE, @IDAPPLICATION, @PROCESS, @THREAD, @METHOD, @LINE, @DETAIL">
            --><!--<install-command commandType="Enum" connectionString="Layout" ignoreFailures="Boolean"
                       text="Layout"/>
          --><!--
            --><!-- repeated --><!--
            --><!--
          <uninstall-command commandType="Enum" connectionString="Layout" ignoreFailures="Boolean"
                         text="Layout"/>
          --><!--
            --><!-- repeated --><!--
            <parameter name="@IDTYPE" layout="${event-context:item=LogTypeId}"/>
            <parameter name="@IDAPPLICATION" layout="${applicationid}"/>
            <parameter name="@PROCESS" layout="${processname}"/>
            <parameter name="@THREAD" layout="${threadid}"/>
            <parameter name="@METHOD" layout="${callsite:className=false:includeSourcePath=false}"/>}"/>
            <parameter name="@LINE" layout="${callsite:className=false:includeSourcePath=false:methodName=false}"/>
            <parameter name="@DETAIL" layout="${message:exceptionSeparator=|:withException=true}"/>
            --><!-- repeated --><!--
        </target>-->
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
        <!--<logger name="*" minlevel="Info" writeTo="logdatabase" />-->
        <!--<logger name="*" minlevel="Fatal" level="Fatal" writeTo="logmail" />-->
    </rules>
</nlog>