<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="DomainServiceModule" preCondition="managedHandler"
                type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </modules>
        <defaultDocument>
          <files>
            <add value="Hoteles.asmx"/>
          </files>
        </defaultDocument>
    </system.webServer>
    <appSettings>
        <add key="ApplicationId" value="B9F23E1F-C3C3-4E52-B972-557D77FE0147"/>
        
        <add key="MailServer" value="mail.argentinahtl.com"/>
        <add key="MailPort" value="25"/>
        <add key="MailUseSSL" value="false"/>
        <add key="MailAccountFrom" value="web@argentinahtl.com"/>
        <add key="MailUser" value="jwillink@argentinahtl.com"/>
        <add key="MailPassword" value="W5C0XLrz"/>
        <add key="MailReservas" value="reservas@argentinahtl.com"/>
        <add key="MailReservas2" value="mjjara@argentinahtl.com"/>

        <add key="FormaPago" value="7D5192CA-FE10-455E-B051-D1023A07BA75"/>
        <add key="TipoUsuario" value="5d9a7c90-94ec-45fe-bdc3-32709e54f704"/>
        <add key="Pasaporte" value="36530246-21e4-4739-b6e3-cabf4802201b"/>
        <add key="WebServiceSitio" value="A304F2F7-4165-481D-9C11-6DB00C6D49CB"/>
        <add key="WebServiceUsuario" value="1BB43EC1-2DBE-4DD7-ABD8-17890AFC0E69"/>
        <add key="DNI" value="12960369-def6-440e-bdd3-3fbb75eadd3c"/>
        <add key="CUIT" value="d5a5d833-8700-4b67-a042-fce05888817d"/>

        <add key="ArgentinahtlDirectorioRaiz" value="D:\src\Plataforma Hoteles v1.0.0"/>
        <add key="ArgentinahtlUrlRaiz" value="http://localhost:80/"/>
        <add key="ArgentinahtlDirectorioSitiosAlojamientos" value="D:\inetpub\Argentinahtl\Info\Alojamientos\"/>
        <add key="ArgentinahtlUrlSitiosAlojamientos" value="http://localhost:80/Info/Alojamientos/"/>

        <!--<add key="ArgentinahtlDirectorioRaiz" value="E:\check\"/>
        <add key="ArgentinahtlUrlRaiz" value="http://www.argentinahtl.com/"/>
        <add key="ArgentinahtlDirectorioSitiosAlojamientos" value="E:\check\Info\Alojamientos\"/>
        <add key="ArgentinahtlUrlSitiosAlojamientos" value="http://www.argentinahtl.com/Info/Alojamientos/"/>-->
        <add key="ArgentinahtlDirectorioRelPaginaPrincipal" value="PaginaPrincipal\"/>
        <add key="ArgentinahtlUrlRelPaginaPrincipal" value="PaginaPrincipal/"/>
        <add key="ArgentinahtlDirectorioRelFotoAlojamiento" value="Imagenes\"/>
        <add key="ArgentinahtlUrlRelFotoAlojamiento" value="Imagenes/"/>
        <add key="ArgentinahtlDirectorioRelFotosAlojamientos" value="MasFotos\"/>
        <add key="ArgentinahtlUrlRelFotosAlojamientos" value="MasFotos/"/>
    </appSettings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <!--<httpModules>
            <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </httpModules>-->
        <compilation debug="true" targetFramework="4.0"/>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows"/>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
        <webServices>
            <protocols>
                <clear/>
                <add name="HttpSoap"/>
                <add name="Documentation"/>
            </protocols>
        </webServices>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:61275/Hoteles.asmx" binding="basicHttpBinding"
                bindingConfiguration="HotelesSoapSoap" contract="NationalService.HotelesSoapSoap"
                name="HotelesSoapSoap" />
            <endpoint address="http://localhost:61275/Servicios.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiciosSoapSoap" contract="LocalService.ServiciosSoapSoap"
                name="ServiciosSoapSoap" />
        </client>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
        <bindings>
            <basicHttpBinding>
                <binding name="HotelesSoapSoap" />
                <binding name="ServiciosSoapSoap" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00"
                    sendTimeout="01:10:00" />
            </wsHttpBinding>
        </bindings>
    </system.serviceModel>
    
    <connectionStrings>
        <!--<add providerName="System.Data.SqlClient;" connectionString="Data Source=.;Server=s7orange;Initial Catalog=Turismo-Produccion;Persist Security Info=True;UID=itiers;PWD=minotauro;" name="TurismoConnectionString" />-->
        <add name="TurismoConnectionString" providerName="System.Data.SqlClient;"
            connectionString="Data Source=.;Server=test.argentinahtl.com;Initial Catalog=Turismo-ProduccionV3;Persist Security Info=True;UID=itiers;PWD=1nELTUR13;"/>
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
  
</configuration>